<h1>Olá, <%= @nome %>  </h1>

<b>
  As apostas da rodada <%= @rodada.numero %>, do bolão <%= @bolao.titulo %>, irão começar  <%=l @rodada.data_inicio_apostas %> e terminarão  <%=l @rodada.data_final_apostas %>!  <br>

<br>
</b>