<div class="separator"></div>

<% unless @bolao_atual.nil? %>
  <li style=" min-width: 150px !important; ">
    <%= link_to @bolao_atual.titulo.upcase.split(' ')[0,2].join(' '), @bolao_atual %>
    <ul>
      <%= content_tag(:li, (link_to 'ÚLTIMA RODADA' , [@bolao_atual, @rodada_atual])) %>
      <%= content_tag(:li, (link_to 'RODADAS' , bolao_rodadas_path(@bolao_atual))) %>
      <%= content_tag(:li, (link_to 'CRIAR NOVA RODADA' , new_bolao_rodada_path(@bolao_atual))) %>
      <%= content_tag(:li, (link_to 'PARTICIPANTES' , bolao_users_path(@bolao_atual))) %>
      <%= content_tag(:li, (link_to 'ADICIONAR PARTICIPANTES', new_user_invitation_path(id:@bolao_atual))) %>
    </ul>
  </li>
<% else -%>
  <%= content_tag(:li, (link_to 'NOVO BOLÃO' ,new_bolao_path)) %>
<% end -%>

<li>
  <a href='#'>GERENCIAMENTO</a>
  <ul>
    <%= content_tag(:li, (link_to 'BOLÕES' , bolaos_path)) %>
    <%= content_tag(:li, (link_to 'USUÁRIOS' , users_path)) %>
    <%= content_tag(:li, (link_to 'POSTAGENS - BLOG' , posts_path)) %>
    <%= content_tag(:li, (link_to 'ÁLBUNS - FOTOS' , albums_path)) %>
    <%= content_tag(:li, (link_to 'BANNERS - PUBLICIDADE' , banners_path)) %>
  </ul>
</li>
