<%= form_with(model: [@bolao, @rodada, jogo || @rodada.jogos.build], 
             url: (jogo&.persisted? ? 
                  bolao_rodada_jogo_path(@bolao, @rodada, jogo) : 
                  bolao_rodada_jogos_path(@bolao, @rodada)),
             method: (jogo&.persisted? ? :patch : :post),
             local: true,
             html: { class: 'w-full' }) do |f| %>
  <tr>
    <td class="px-4 py-4 whitespace-nowrap">
      <%= f.select :time_home, Jogo::TIMES, 
                  { prompt: 'Selecione o time', selected: f.object.time_home }, 
                  class: "w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </td>
    
    <td class="px-4 py-4 whitespace-nowrap">
      <%= f.number_field :placar_home, 
                        class: "w-16 px-3 py-2 border border-gray-300 rounded-md text-center shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 #{'bg-gray-100' unless @rodada.apostas_encerradas?}", 
                        readonly: !@rodada.apostas_encerradas? %>
    </td>
    
    <td class="px-4 py-4 whitespace-nowrap text-center"><b>x</b></td>
    
    <td class="px-4 py-4 whitespace-nowrap">
      <%= f.number_field :placar_away, 
                        class: "w-16 px-3 py-2 border border-gray-300 rounded-md text-center shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 #{'bg-gray-100' unless @rodada.apostas_encerradas?}", 
                        readonly: !@rodada.apostas_encerradas? %>
    </td>
    
    <td class="px-4 py-4 whitespace-nowrap">
      <%= f.select :time_away, Jogo::TIMES, 
                  { prompt: 'Selecione o time', selected: f.object.time_away }, 
                  class: "w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" %>
    </td>
    
    <td class="px-4 py-4 whitespace-nowrap text-right">
      <%= f.submit (f.object.persisted? ? 'Atualizar' : '+ Jogo'), 
                  class: 'px-3 py-1 bg-indigo-600 text-white font-medium rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 text-sm' %>
    </td>
  </tr>
<% end %>