<%= content_tag :h3, "BLOG" , :class => "title"  %>
<div class="posts">
  <% @posts.each do |post| %>

    <div class="post">
      <%= link_to content_tag(:h4, post.titulo), post %>
      <p><%= l post.created_at %></p>

      <p>
        <%= image_tag(post.imagem_url) if post.imagem_url.present? %>
        <%= raw truncate post.texto, :length=> 300 %>
        <%= link_to " Ver mais", post %>
      </p>

     <br>

      <% if admin? -%>
        <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_post_path(post), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        post_path(post),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-mini btn-danger' %>

      <% end %>
    </div>
  <% end %>
</div>
<% if admin? -%>
  <%= link_to t('.new', :default => t("helpers.links.new")),
                new_post_path,
                :class => 'btn btn-primary' %>
<% end %>
<br />