<div class="page-header">
  <p class="label label-success"><%=@bolao.titulo%></p>
 <h3 class="title">Classificação da rodada: <%= @rodada.numero %></h3>
</div>

  <table class="table table-striped classificacao">
      <thead>
        <tr>
          <th>Pos</th>
          <th>Apelido(nome)</th>
          <th>Pontos</th>
        </tr>
      </thead>
      <tbody>
        <% @classificacao.each_with_index do |pos,i| %>
          <tr>
            <td><%= (i+1).to_s+'º' %></td>
            <td><%= link_to (pos.user.apelido || pos.user.nome), bolao_rodada_palpites_path(@bolao, @rodada, :user_id=>pos.user.id) %></td>
            <td><%= pos.pontos %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Voltar", @bolao, :class=>"btn" %>
