<%= content_tag :h3, "Alterar Avatar", :class => "title"  %>
<spam>Imagem do usuário</spam>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>


  <div class="avatar_box">
    <%= image_tag(current_user.avatar.url, :class=>'user_photo') if current_user.avatar? %>
<br/><br/><br/>
    <%= f.file_field :avatar, :style =>'width:300px' %><%= error_tag @user, :avatar %>

    <% if current_user.avatar? -%>
      <p>
        <label>
          <%= f.check_box :remove_avatar %>
          Remover avatar
        </label>
      </p>
    <% end -%>
  </div>
    <%= f.submit "Atualizar Avatar" , :class => 'btn btn-primary' %>
<% end %>
<hr>
<%= link_to "Voltar", :back,:class => 'btn' %>

